.navbar{
    background-color: darkgreen !important; 
    color: white !important;
} 
.nav-link{
    color: white !important;
}
.navbar-brand{
    color: white !important;
    
}
.navbar-nav li a:hover{
    background-color: red;
}

.nav-white{
    background-color: white !important;
    
}
.nav-list li{
    float: right !important;
}
#navbar{
    background-color: white !important;
    
}
#active,#navbarid li :hover{
    background-color: darkgreen !important;
    border-radius: 25px;

}
.card1,.card2,.card3
{
    display: flex;
    width: 300px;
    height: 80px;
    background-color: white;
    box-shadow: 2px 4px 5px darkgreen;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: royalblue;
}
.maincard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.container{
    margin-right: 20px;
}

.fa-facebook,.fa-twitter,.fa-google-plus,.fa-linkedin,.fa-instagram{
    margin-right: 20px;
    color: white;
}
.deep-purple{
    background:#6351ce;
}